	p
		{
			font: 35px Arial;
			background-color: brown;
		}
		#first 
		{
			background-color: blue;
		}
		.yellow 
		{
			background-color: yellow;	
		}
		padding: 20px;
	}

   </style>
   <div></div>
</body>
</html>